<aside>
	<div class="panel radius">
<h4>Subscribe</h4>
    <div class="hline"></div>
        <p>
            <span class="icon-rss pr10"></span><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
        </p>

	<div class="spacing"></div>

<h4>Search</h4>
    <div class="hline"></div>
        <p>
            <i class="fa fa-search pr10"></i><a href="{{ site.url }}{{ site.baseurl }}/search/">Search this site</a>
        </p>

    <h4>Categories</h4>
    <div class="hline"></div>
    {% for category in site.categories %}{% unless category.first == "blog" or category.first == "project" or category.first == "question" %}
        <p>
            <a href="{{ site.baseurl }}{{ 'category/#' }}{{ category | first }}"><span class="icon-archive pr10"></span>{{ category | first | capitalize }}</a>
            <span class="pull-right">{{ category | last | size }}</span>
        </p>
    {% endunless %}{% endfor %}

	<div class="spacing"></div>

	<h4>Tags</h4>
    <div class="hline"></div>
    <p>
    {% for tag in site.tags %}{% unless tag.first == "blog" or tag.first == "project" or tag.first == "question" %}
            <a class="button tiny radius" href="{{ site.baseurl }}{{ 'tag/#' }}{{ tag | first }}" role="button">{{ tag | first | lowercase }} ({{ tag | last | size }})</a>	         
        {% endunless %}{% endfor %}
    </p>

	</div>
</aside>